#divA{
  background-color: #fec5bb;
}
#divB{
  background-color: #fcd5ce;
}

#divC{
  background-color: #fae1dd;
}

#divD{
  background-color: #e8e8e4;
}


#divE{
  background-color: #d8e2dc;
}

#divF{
  background-color: #ece4db;
}

#divG{
  background-color: #ffe5d9;
}


#divH{
  background-color: #ffd7ba;
}

#divI{
  background-color: #fec89a;
}